# Master Controller Configuration
P1_PORT=8081
P2_PORT=9090
HEARTBEAT_INTERVAL_MIN=3
INSTANCE_ID=master_01

# Available chat_server_voice nodes (Format: host:port)
VOICE_NODES=127.0.0.1:9010,127.0.0.1:9011,127.0.0.1:9012